<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu" style="background:rgba(255, 255, 255, 0.65);">
          <ul style="color:#333;">
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">Projects</a></li>
            <li><a href="index.html">Contact</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
